@using Project.Application.Common.Interfaces.Services;
@using Project.Domain.Entities;
@using Project.WebUI.Extensions;

@inject ILanguageService languageService

@{
    IEnumerable<Language> languages = await languageService.GetLanguages();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">@await Context.Translate("home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <div class="nav-item dropstart">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (Language language in languages)
                            {
                                <li><a class="dropdown-item" style="cursor: pointer;" data-culture="@language.Culture">@language.Abbr</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/js-cookie/js.cookie.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dropdownItems = document.querySelectorAll('.dropdown-item');

            dropdownItems.forEach(item => {
                item.addEventListener('click', (e) => {
                  const culture = e.currentTarget.dataset.culture;
                  Cookies.set('lang', culture, { expires: 7 });
                });
            });
        });
    </script>
</body>
</html>
